@media screen and (max-width: 1000px){
    .wetter{
        font-size: 2em;
            text-align: center;
            margin-bottom: 10px;
            color: #ffe800;
            
    }
}
@media screen and (min-width: 1000px){
    .wetter{
        font-size: 2em;
            text-align: center;
            margin-bottom: 10px;
            color: #ffe800;
            
    }
}
@media screen and (min-width: 1500px){
    .wetter{
        font-size: 2em;
            margin-left: 10%;
            margin-bottom: 10px;
            color: #ffe800;
            margin-right: 10%;
    }
}
@media screen and (min-width: 2000px){
    .wetter{
        font-size: 2em;
            margin-left: 10%;
            margin-bottom: 10px;
            color: #ffe800;
            margin-right: 10%;
    }
}