.wetter{
    font-size: 2em;
        margin-left: 10%;
        margin-bottom: 2px;
        color: #ffe800;
        margin-right: 10%;
}

@media screen and (max-width: 1000px){
    .wetter{
text-align: center;
    }
}
@media screen and (min-width: 1000px){
    .wetter{
        font-size: 1.1em;
            margin-left: 10%;
            margin-bottom: 2px;
            color: #ffe800;
            margin-right: 10%;
    }
}
@media screen and (min-width: 1500px){
    .wetter{
        font-size: 1.5em;
            margin-left: 10%;
            margin-bottom: 2px;
            color: #ffe800;
            margin-right: 10%;
    }
}
@media screen and (min-width: 2000px){
    .wetter{
        font-size: 2em;
            margin-left: 10%;
            margin-bottom: 2px;
            color: #ffe800;
            margin-right: 10%;
    }
}


