<router-outlet></router-outlet>


<mat-sidenav-container>
<mat-sidenav class="sidenav" mode="side" position="end" opened>
    <h1 class="Sidebar-Überschrift">Wetter</h1><app-wetter></app-wetter>
    <h1 class="Sidebar-Überschrift">Spielt der BVB heute?</h1></mat-sidenav>
<mat-sidenav-content>
    <h1 class="Überschrift">Dortmund</h1>

    <mat-grid-list cols="3" rowHeight="2:3" gutterSize="5vw">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
      </mat-grid-list>
 
</mat-sidenav-content>
</mat-sidenav-container>


