
.Überschrift{

    text-align: center;
    color: #ffe800;
    font-size: 5em;
    font-weight: bolder;


}

.Sidebar-Überschrift{

    text-align: center;
    color: #ffe800;
    font-size: 3em;


}
.sidenav{
    width:20%;
    height:100%;
    background-color: rgb(66, 66, 66);
    color: rgb(223, 223, 223);
    
}

mat-grid-tile {
    background: rgb(66, 66, 66);
}

  mat-grid-list{
      width: 80%;
      margin-left: 10%;
      margin-top:10%;
  }
  .background{
    background-image: url(../assets/hintergrund.jpg);
    width: 100%;
    background-size: cover;
    height:100vh;
}
.grid-überschrift{
    
    color: #ffe800;
    font-size: 1.62vw;
    margin-right: 7.88%;
    background-color: rgb(66, 66, 66, 1);
    font-weight: bolder;
    padding-left:1%;
    padding-right:1%;
}
.grid-überschrift2{
    
    color: #ffe800;
    font-size: 1.766vw;
    background-color: rgb(66, 66, 66, 1);
    font-weight: bolder;
    padding-left: 22%;
    padding-right: 21.7%;

}

.img-responsive{
    height:100%;
    width:100%;
}
